@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

*::first-letter {
    text-transform: capitalize;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: hsl(224, 21%, 14%);
    line-height: 25px;
}

#cardProfile {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}

#cardProfile section {
    position: relative;
}

#imageProfile {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 65%);
}

#imageProfile .image img {
    border-radius: 50%;
    border: 4px solid white;
}

.imageSection img {
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.infoProfile {
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.contentInfoProfile {
    text-align: center;
    margin-bottom: 15px;
}

.infoProfile h1 {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.infoProfile h1 span{
    color: hsl(219, 12%, 42%);
    font-weight: 400;
}

p {
    color: hsl(219, 12%, 42%);
    font-size: 12px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    margin: 0 20px 0 20px;
}

footer div{
    text-align: center;
}

footer h1 {
    font-size: 18px;
}


/* White: hsl(0, 0%, 100%)
Very light grayish blue: hsl(210, 60%, 98%)
Light grayish blue 1: hsl(211, 68%, 94%)
Light grayish blue 2: hsl(205, 33%, 90%)
Grayish blue: hsl(219, 14%, 63%)
Dark grayish blue: hsl(219, 12%, 42%)
Very dark blue: hsl(224, 21%, 14%) */